#banner
    .banner_content
        %h1 File Cabinet
        %p Your Life's Work. Organized, Always!
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Random text. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus soluta velit obcaecati dolor delectus deserunt atque voluptate pariatur, commodi ad natus architecto est rem doloribus enim dolorum sunt. Et, architecto.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path